@model IEnumerable<FastBookCreator.Models.Pack>
@using GridMvc.Html



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/Gridmvc")
    @Styles.Render("~/Content/toastr")
</head>
<body>

    <div style="padding: 100px;">
        @Html.Grid(Model).Named("dataGrid").AutoGenerateColumns()
    </div>


</body>

@Scripts.Render("~/bundles/Gridmvc")
@Scripts.Render("~/bundles/toastr")

</html>


@section scripts
{
    <script>
        dataGrid.ordersGrid.language = "fa";
        toastr.info('Are you the 6 fingered man?')

    </script>
}
