<!DOCTYPE html>
<html lang="@Resources.Resource.lang">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Resources.Resource.AppName  - @ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body dir="@Resources.Resource.dir">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(Resources.Resource.AppName, "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
               @ViewBag.Title 
            </div>
            <div class="navbar-collapse collapse">
      
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.Partial("_Culture")</li>
                </ul>
            </div>

        </div>

    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @Resources.Resource.AppName Application</p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)

</body>
</html>
