@*@model List<FastBookCreator.Models.Pack>*@
@using FastBookCreator.Core
@using GridMvc.Html

 
    @Styles.Render("~/Content/Gridmvc")
  
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
       @* <div class="btn-group" role="group">
            <button type="button" class="btn btn-default"></button>
        </div>*@
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default">@Html.ActionLink(@Resources.Resource.PackCreate, "Insert", "Pack")</button>
        </div>
        @*<div class="btn-group" role="group">
            <button type="button" class="btn btn-default">Right</button>
        </div>*@
    </div>


  <div style="padding: 100px;">
        @Html.Grid(HelperExtensions.GetPacks()).Named("dataGrid").AutoGenerateColumns()
  </div>
 
   <div id="other">
        Trigger the handler
    </div>
 

@Scripts.Render("~/bundles/Gridmvc")

 

@section scripts
{
    <script>
        $("#other")
            .click(function() {
                toastr.info('سلام خوبی ؟');
            });
    </script>
}
