@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    @using (Html.BeginForm("SaveUploadedFile", "Shared", FormMethod.Post, new { enctype = "multipart/form-data", @class = "dropzone", id = "dropzoneForm" }))
    {
        <div class="fallback">
            <input name="file" type="file" multiple />
        </div>
    }
</div>

@section scripts{
    <script type="text/javascript">

        //File Upload response from the server
        Dropzone.options.dropzoneForm = {
            maxFiles: 1000,
            maxFilesize: 0.1,
            dictDefaultMessage :"@Resources.Resource.dictDefaultMessage" ,
            dictFallbackText:"@Resources.Resource.dictFallbackText",
            dictFileTooBig:"@Resources.Resource.dictFileTooBig",
            dictInvalidFileType:"@Resources.Resource.dictInvalidFileType",
            dictResponseError:"@Resources.Resource.dictResponseError",
            dictCancelUpload:"@Resources.Resource.dictCancelUpload",
            dictCancelUploadConfirmation:"@Resources.Resource.dictCancelUploadConfirmation",
            dictRemoveFile:"@Resources.Resource.dictRemoveFile",
            dictMaxFilesExceeded:"@Resources.Resource.dictMaxFilesExceeded",
            init: function () {
                this.on("maxfilesexceeded", function (data) {
                    var res = eval('(' + data.xhr.responseText + ')');

                });
                this.on("addedfile", function (file) {
                    // Create the remove button
                    var removeButton = Dropzone.createElement("<button class=\"btn btn-default\"><span class=\"glyphicon glyphicon-remove\" aria-hidden=\"true\"></span>&nbsp;&nbsp; @Resources.Resource.Delete </button>");
                    // Capture the Dropzone instance as closure.
                    var _this = this;

                    // Listen to the click event
                    removeButton.addEventListener("click", function (e) {
                        // Make sure the button click doesn't submit the form:
                        e.preventDefault();
                        e.stopPropagation();
                        // Remove the file preview.
                        _this.removeFile(file);
                        // If you want to the delete the file on the server as well,
                        // you can do the AJAX request here.
                    });

                    // Add the button to the file preview element.
                    file.previewElement.appendChild(removeButton);
                });
            }
        };
    </script>
}