@model  FastBookCreator.Models.Item

<div>
    @{
        var ajaxOptions = new AjaxOptions
        {
            HttpMethod = "post",
            OnSuccess = "OnSuccess();",
            OnBegin ="OnBegin();",
        };
    }

    @using (Ajax.BeginForm("SaveItem", "Item", ajaxOptions, new { enctype = "multipart/form-data" ,id="SaveItemHtml"}))
    {
        <input id="userId" class="form-control" name="userId" type="hidden" value="@ViewBag.UserId" />
        <input id="packId" class="form-control" name="packId" type="hidden" value="@ViewBag.PackId" />
        <input id="resourceId" name="resourceId" type="hidden" value="0" />
        <input id="itemTypeId" name="ITEM_TYPE_ID" type="hidden" value="1" />
        <input id="ckEditorHtml" class="form-control" name="content" value="" type="hidden" />
        <input id="lang" class="form-control" name="lang" value="" type="hidden" />
        <div class="row">


            <div class="col-md-6 group">
                <div>
                    @Resources.Resource.ItemNumber
                    @Html.TextBoxFor(model => model._id, new { @class = "form-control", placeholder = Resources.Resource.Id, @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model._id)
                </div>
                <div>
                    @Resources.Resource.Name
                    @Html.TextBoxFor(model => model.ITEM_TITLE, new { @class = "form-control", placeholder = Resources.Resource.Name })
                    @Html.ValidationMessageFor(model => model.ITEM_TITLE)
                </div>
            </div>

            <div class="col-md-6 group">
                <div>
                    @Resources.Resource.Lesson
                    @Html.TextBoxFor(model => model.LESSON_ID, new { @class = "form-control", placeholder = Resources.Resource.Id, @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.LESSON_ID)
                </div>

                <div>
                    @Resources.Resource.Page
                    @Html.TextBoxFor(model => model.PAGE_ID, new { @class = "form-control", placeholder = Resources.Resource.Id, @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.PAGE_ID)
                </div>
            </div>

            <div class="col-md-12 group">
                <div id="divEditor"  >
                    <textarea class="code" cols="80" id="editor1" name="editor1" rows="10" style="direction: ltr; ">
                        @MvcHtmlString.Create(@Model.CONTENT)
                    </textarea>
                </div>
                    <div id="progressEditor" class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            <span class="sr-only">100% Complete</span>
                        </div>
                    </div>

                </div>
        </div>

        <div class="row center-block">
            <button id="submit-all" type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>&nbsp;&nbsp; @Resources.Resource.Save
            </button>
            &nbsp;&nbsp;
            <button class="btn btn-default" onclick="location.href='@Request.UrlReferrer'" >
                <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;&nbsp; @Resources.Resource.PreviousPage
            </button>
        </div>
    }

</div>

@Html.Partial("_SearchImageDialog")

@section scripts
{
    <script type="text/javascript">

        var editor1 = CKEDITOR.replace('editor1', {
            extraPlugins: 'codesnippet'

        });
        
        editor1.on('unloaded', function (evt) {
            $("#progressEditor").hide();
            $("#progressEditor").show();
        });
        editor1.on('instanceReady', function (evt) {
            $("#progressEditor").show();
            $("#progressEditor").hide();
        });

        editor1.addCommand("searchImage", {
            exec: function(edt) {

                $('#searchModal').modal('toggle');
            }
        });
        editor1.ui.addButton('SuperButton', {
            label: "Click me",
            command: 'searchImage',
            toolbar: 'others',
            icon: '../../Content/images/multiple_image.png'
        });

        $(document).ready(function() {
            $.post("../Shared/ResPacks", { where: " ", userId: "@ViewBag.UserId", packId: "@ViewBag.PackId" }, function(data) {
                var imeges = "";
                $.each(data, function(key, value) {
                    imeges = imeges + "<div class=\"img-grid col-lg-2 col-md-2 col-sm-3 col-xs-6\" >" +
                        value.NAME + value.DATA +
                        "</div>";

                });
                $("#images").html(imeges);
                $("img[id^=img-]").click(imgClick);
            });

            $("img[id^=img-]").click(imgClick);

            if ($("#imgLesson").attr("src") === "") {
                $("#imgLesson").attr("src", "../Content/images/ibook.png");
            }


        });

        $("#txtSearch")
            .on("keyup",
                function(ev) {
                    $.post("../Shared/ResPacks", { where: "WHERE NAME like '%" + this.value + "%'", userId: "@ViewBag.UserId", packId: "@ViewBag.PackId" }, function(data) {
                        var imeges = "";
                        $.each(data, function(key, value) {
                            imeges = imeges + "<div class=\"img-grid col-lg-2 col-md-2 col-sm-3 col-xs-6\" >" +
                                value.NAME + value.DATA +
                                "</div>";

                        });
                        $("#images").html(imeges);
                        $("img[id^=img-]").click(imgClick);
                    });
                });


        var imgClick = function() {
            // Do stuff, get id of image perhaps?
            editor1.insertHtml('<img id="editor-' + this.alt + '"  src="' + this.src + '" class="img-responsive" alt="' + this.alt + '">');
            $('#searchModal').modal('toggle');
        }

        function OnSuccess() {
            $("#_id").attr("0");
            toastr.info("@Resources.Resource.Save");
            $("#LESSON_ID").val("");
            $("#ITEM_TITLE").val("");
            $("#PAGE_ID").val("");
            $("#_id").val("");
            editor1.setData('');
        }

        function OnBegin() {
        }

        $('#SaveItemHtml').submit(function () {
            var text = CKEDITOR.instances.editor1.getData();
            $(text).find("img").each(function (index, element) {
                text = text.replace(element.src, "getResource(" + element.alt + ")");
            }).promise().done(function () {
                $("#SaveItemHtml").validate({
                    submitHandler: function (form) {
                        $("#ckEditorHtml").val(text.replace(/&lt;/g, '<').replace(/&gt;/g, '>'));
                        var form = $("#SaveItemHtml");
                        var url = form.attr('action');
                        var formData = form.serialize();
                        $.post(url, formData, function (result) {
                            if (result > 0)
                                OnSuccess();
                            else
                                toastr.info("@Resources.Resource.UnSuccess");
                        });
                    }
                });
            });
        });

    </script>
}
