@model List<FastBookCreator.Models.Pack>
@using GridMvc.Html

    <div >
        <div class="row" >
            <div class="col-md-6" style="float: @Resources.Resource.Float" >
                <input type="text" class="form-control" placeholder=@Resources.Resource.PackName>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder=@Resources.Resource.Description>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6" style="float: @Resources.Resource.Float">
                @Html.DropDownList("Method", Model.Select(item => new SelectListItem
                {
                    Value = item.PackName,
                    Text = item.Description.ToString(),
                    Selected = false
                }), @Resources.Resource.MethodSelect, new {@class = "form-control btn btn-default dropdown-toggle"})
            </div>

            <div class="col-md-6">
                @Html.DropDownList("Subject", Model.Select(item => new SelectListItem
                {
                    Value = item.PackName,
                    Text = item.Description.ToString(),
                    Selected = false
                }), @Resources.Resource.SubjectSelect, new {@class = "form-control btn btn-default dropdown-toggle"})
            </div>

        </div>

        <div class="row center-block">
            
                <button type="button" class="btn btn-default btn-lg ">
                    <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> @Resources.Resource.Save
                </button>
       
        </div>

    </div>


@*  <textarea cols="80" id="editor1" name="editor1" rows="10">
        &lt;p&gt;This is some &lt;strong&gt;sample text&lt;/strong&gt;. You are using &lt;a href="http://ckeditor.com/"&gt;CKEditor&lt;/a&gt;.&lt;/p&gt;
    </textarea>

<script>
    CKEDITOR.replace('editor1', {
          uiColor: '#AAEAAA'
    });

    CKEDITOR.editorConfig = function (config) {
        //Define changes to default configuration here. For example:
        config.language = 'fa';
        config.uiColor = '#11DC11';
    };
</script>*@


@section scripts
{
    <script>


    </script>
}
